@import "tailwindcss";
@import "@fontsource/roboto";

:root {
  --background: #1f1f1f;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
